.container {
    display: flex;
    height: 85vh;
}

.container>div {
    height: 100%;
    width: 50%;
}

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



